
@use "./mq" as mq;
@use "./fluid-layout" as fl with ($size-scale: (1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 26, 28, 30, 32, 33, 34, 36, 38,
    39, 40, 43, 44, 46, 48, 50, 54, 56, 59, 60, 64, 65, 66, 70, 72, 73, 74, 77, 78, 80, 84, 88, 90, 96,
    100, 102, 106, 112, 120, 130, 132, 140, 150, 151, 160, 172, 178, 180, 187, 200, 206, 210, 220,
    242, 248, 260, 280, 290, 292, 300, 310, 320, 352, 372, 400, 420, 430, 436, 507, 577, 670, 800),

  $size-negatives: (1, 2, 3, 4, 8, 10, 12, 16, 20, 22, 24, 26, 30, 36, 40, 44, 50, 54, 60, 80, 90, 100, 120, 140, 150,
    200, 270),

  $fluid-breakpoints: ("desktop-max": (query: "(min-width: 1920.02px)", width: 1920),
    "laptop": (query: "(max-width: 1440.98px)", width: 1440),
    "mobile": (query: "(max-width: 767.98px)", width: 375)));

/* 2) Алиасы к mq — можно после @use */
@mixin a($bp) {
  @include mq.at($bp) {
    @content;
  }
}

// <= bp (max-width)
@mixin d($bp) {
  @include mq.down($bp) {
    @content;
  }
}

// <= bp (alias)
@mixin u($bp) {
  @include mq.up($bp) {
    @content;
  }
}

// >= bp (min-width)
@mixin b($min, $max) {
  @include mq.between($min, $max) {
    @content;
  }

  // min..max
}

/* 3) Генерация var(--N) / var(---N) — уже после @use */
@include fl.generate-fluid-vars();